# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/HealthCheckWebPortal/obj
/HealthCheckWebAPI/obj
/HealthCheckWebAPI/bin

# Node
/HealthCheckWebPortal/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/HealthCheckWebPortal/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/HealthCheckWebPortal/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.vs/
.git/

# System files
.DS_Store
Thumbs.db
